.page-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #057104, #04ff00, #096301); /* Static Gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

